* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.disclaimer {
    text-align: center;
}
.playlist {
    width: 20%;
}


/*mobile */
@media screen and (max-width: 760px){
    .playlist{
        width: 20%;
    }
}
@media screen and (max-width: 200px){
    .playlist {
        width: 20%;
    }
}
